{%  extends 'root_temp.html' %}

{% block title %}
Delete student "{{ student.first_name }} {{ student.last_name }}"
{% endblock %}


{%  block content %}
    <form method="post">
        {%  csrf_token %}
        <p> Do you really want to remove student <strong> "{{ student.first_name }} {{  student.last_name }}"
        </strong></p>
        <input class="btn btn-outline-danger" type="submit" value="Agree">
        <br><br>
        <a href="{%  url 'students:list' %}" class="btn btn-outline-primary">Back to list</a>
    </form>
{% endblock %}
