{% extends 'root_temp.html'%}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <p style="color:blue;">First name:</p> <p>{{ student.first_name }}</p>
   <p style="color:blue;"> Last name:</p> <p>{{ student.last_name }}</p>
   <p style="color:blue;">Email:</p> <p>{{ student.email }}</p>
   <p style="color:blue;">Phone number:</p> <p>{{ student.phone }}</p>
   <p style="color:blue;">Birthday:</p> <p>{{ student.birthday }}</p>
   <p style="color:blue;">City:</p> <p> {% if student.city %}{{ student.city }}{% endif %}</p>
   <br>
   <a href="{% url 'students:update' student.pk %}" class="btn btn-outline-primary"> Edit</a>
   <br><br>
   <a href="{%  url 'students:list' %}" class="btn btn-outline-secondary"> Back to list</a>
{% endblock %}