{%  extends 'root_temp.html' %}

{% block title %} List of groups {% endblock %}
{% block content %}
   <form method="get">
       <label for="group_name">Group name:</label><br>
       <input type="text" id="group_name" name="group_name"><br><br>
       <label for="start_date">Start date:</label><br>
       <input type="date" id="start_date" name="start_date"
              value="2023-01-01"
       min="2023-01-01" max="2100-12-31">><br><br>
       <input type="submit" value="Submit">
   </form>
   <br>
   <br><br>
   <table>
       <thead>
             <tr>
                 <th>Group Name</th>
                 <th>Start date</th>
                 <th>Group description</th>
                 <th>Update</th>
             </tr>
       <thead>
       <tbody>
            {%  for st in groups %}
                 <tr>
                   <td><a href="{% url 'groups:detail' st.pk %}">{{ st.group_name }}</a></td>
                   <td>{{st.start_date}}</td>
                   <td>{{st.group_description}}</td>
                   <td><a href="{% url 'groups:update' st.pk %}">Edit</a></td>
                   <td><a href="{% url 'groups:delete' st.pk %}">Remove</a></td>
                 </tr>
            {%  endfor %}
       </tbody>
   </table>
{% endblock %}