{%  extends 'root_temp.html' %}

{% block title %}
Delete teacher "{{ teacher.first_name }} {{ teacher.last_name }}"
{% endblock %}


{%  block content %}
    <form method="post">
        {%  csrf_token %}
        <p> Do you really want to remove teacher <strong> "{{ teacher.first_name }} {{  teacher.last_name }}"
        </strong></p>
        <input class="btn btn-outline-danger" type="submit" value="Agree">
        <br><br>
        <a href="{%  url 'teachers:list' %}" class="btn btn-outline-primary">Back to list</a>
    </form>
{% endblock %}
