{% extends 'root_temp.html'%}
{% block title %}{{ title }}{% endblock %}

{% block content %}
   <p style="color:red;">First name:</p> <p>{{ teacher.first_name }}</p>
   <p style="color:red;"> Last name:</p> <p>{{ teacher.last_name }}</p>
   <p style="color:red;">Birthday:</p> <p>{{ teacher.birth_date }}</p>
   <p style="color:red;">Salary:</p> <p>{{ teacher.salary }}</p>
   <br>
   <a href="{% url 'teachers:update' teacher.pk %}"> Edit</a>
   <br><br>
   <a href="{%  url 'teachers:list' %}"> Back to list</a>
{% endblock %}