{%  extends 'root_temp.html' %}
{% load crispy_forms_filters %}

{% block title %}
Update course '{{ form.course_name.value }}'
{% endblock %}

{% block content %}
        <div class="row">
           <div class="col-3"></div>
           <div class="col">
              <form method="post">
                 {% csrf_token %}
                 {{  form|crispy }}
                <div class="text-center">
               <input class="btn btn-success" type="submit" value="Update">
               <a href="{% url 'courses:list' %}" class="btn btn-outline-primary text-left"> Back to list</a>
               <div class="col-3"></div>
               </div>
        </form>
           </div>

{% endblock %}